.soporte{  
width: 200px;
height: 150px;  
overflow:hidden;  
position:fixed;
float:left;
left:-70px;
}  
  
.soporte ul{  
margin: 0;  
padding: 0;  
font: bold 14px Verdana;  
list-style-type: none;  

}  
  
.soporte li{  
display: inline;  
margin: 0;  
}  
  
.soporte li a{  
display:inline-block;  
text-align:center;  
text-decoration: none;  
color: white;  
background:#0066FF;  
margin: 0;  
margin-right:90px; 
width:150px;  
height:150px;  
border-radius: 20px; 

font-size:15px;
}  
  
.soporte a span{  
position:relative;  
top:20%;  
}  
  
.soporte li a:visited{  
color: white;  
}  
  
.soporte a:hover{  
background: #00E600;
}  


.soporte li a {
   margin: 50px;
   width: 100px;
   height: 50px;
   background-color: #009493;
   
   transition-property: width, height, background-color;
   transition-duration: 0.5s, 1s, 1s;
   transition-timing-function: ease, ease-out;
   transition-delay: 0s ,0.5s, 1.5s;
  }
   .soporte a:hover {
      width: 150px;
      
      background-color: #B20000;
      transition-property: width, height, background-color;
      transition-duration: 0.5s, 0.5s, 0.5s;
      transition-timing-function: linear, linear;
      transition-delay: 0s ,0.5s, 0.5s;
   }
  
   
 